* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_4 {
  width: 100%;
  height: 4867px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5 {
  width: 1750px;
  height: 1113px;
  background: url("https://www.gameprotv.com/archivos/202007/skater-xl-principal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: -107px;
  left: -189px;
  overflow: hidden;
}
.v1_6 {
  width: 349px;
  height: 353px;
  background: rgba(234,89,44,1);
  opacity: 1;
  position: absolute;
  top: 750px;
  left: 128px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_7 {
  width: 349px;
  height: 353px;
  background: rgba(234,89,44,1);
  opacity: 1;
  position: absolute;
  top: 750px;
  left: 546px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_8 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 969px;
  left: 196px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_9 {
  width: 349px;
  height: 353px;
  background: rgba(234,89,44,1);
  opacity: 1;
  position: absolute;
  top: 750px;
  left: 964px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_10 {
  width: 100%;
  height: 70px;
  background: rgba(1,1,1,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_11 {
  width: 53px;
  height: 45px;
  background: url("https://pbs.twimg.com/profile_images/1088230130990776320/jqHgqpUp.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 14px;
  overflow: hidden;
}
.v1_12 {
  width: 178px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 1078px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_13 {
  width: 178px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 1256px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_14 {
  width: 150px;
  height: 144px;
  background: url("https://www.nintendo.com//content/dam/noa/en_US/games/switch/s/skater-xl-switch/Switch_SkaterXL_box_eShop.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 783px;
  left: 227px;
  overflow: hidden;
}
.v1_15 {
  width: 150px;
  height: 150px;
  background: url("https://cdn.akamai.steamstatic.com/steam/apps/962730/ss_c23a12b695b712760f1e534ea59afe3403897935.1920x1080.jpg?t=1630358993");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 794px;
  left: 633px;
  overflow: hidden;
}
.v1_16 {
  width: 150px;
  height: 150px;
  background: url("https://i.blogs.es/18df66/skaterxl6/1366_2000.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 783px;
  left: 1064px;
  overflow: hidden;
}
.v1_17 {
  width: 971px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 173px;
  left: 80px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v1_18 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 969px;
  left: 1014px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_19 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 586px;
  left: 439px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_20 {
  width: 595px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 290px;
  left: 80px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v1_21 {
  width: 569px;
  color: black;
  position: absolute;
  top: 1250px;
  left: 125px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v1_22 {
  width: 215px;
  height: 73px;
  background: rgba(234,89,44,1);
  opacity: 1;
  position: absolute;
  top: 563px;
  left: 128px;
  overflow: hidden;
}
.v1_23 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 966px;
  left: 599px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_24 {
  width: 215px;
  height: 73px;
  background: url("../images/v1_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 563px;
  left: 408px;
  border: 3px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v1_25 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 586px;
  left: 169px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_26 {
  width: 739px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 427px;
  left: 82px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_27 {
  width: 681px;
  height: 223px;
  color: rgba(1,1,1,1);
  position: absolute;
  top: 1459px;
  left: 115px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v1_28 {
  width: 978px;
  color: rgba(1,1,1,0.800000011920929);
  position: absolute;
  top: 1816px;
  left: 278px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_29 {
  width: 530px;
  height: 492px;
  background: url("https://blog.es.playstation.com/tachyon/sites/14/2021/08/PS-Blog-SKATE-XL.jpg?resize=1088%2C612&crop_strategy=smart");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1213px;
  left: 783px;
  overflow: hidden;
}
.v1_30 {
  width: 1029px;
  height: 195px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: absolute;
  top: 1775px;
  left: 227px;
  border: 8px solid rgba(234,89,44,1);
  overflow: hidden;
}
.v1_31 {
  width: 388px;
  height: 847px;
  background: url("https://pbs.twimg.com/media/EpZICkgUcAA4qeC.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2104px;
  left: 514px;
  overflow: hidden;
}
.v1_32 {
  width: 423px;
  height: 311px;
  background: url("https://cdn-ext.fanatical.com/production/product/1280x720/c5b4e6b0-fcdd-4c17-882d-5035da2f9d8c.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2104px;
  left: 75px;
  overflow: hidden;
}
.v1_33 {
  width: 423px;
  height: 518px;
  background: url("https://www.frikipandi.com/wp-content/uploads/2020/07/SkatreXL_pantalla.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2433px;
  left: 75px;
  overflow: hidden;
}
.v1_34 {
  width: 469px;
  height: 293px;
  background: url("http://lojueguito.es/wp-content/uploads/2021/03/image-1-44.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2104px;
  left: 918px;
  overflow: hidden;
}
.v1_35 {
  width: 469px;
  height: 246px;
  background: url("https://cdn.akamai.steamstatic.com/steam/apps/962730/ss_231e53f80fc8083158f6cc6a89c3d78517452a14.1920x1080.jpg?t=1630358993");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2415px;
  left: 918px;
  overflow: hidden;
}
.v1_36 {
  width: 469px;
  height: 272px;
  background: url("https://cdn.cloudflare.steamstatic.com/steam/apps/962730/ss_101bbf9128f6316dc6e04ee31bbaa41d855c5753.1920x1080.jpg?t=1630358993");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2679px;
  left: 918px;
  overflow: hidden;
}
.v1_37 {
  width: 178px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 900px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_38 {
  width: 765.12px;
  height: 1314.64px;
  background: linear-gradient(rgba(234,89,44,1), rgba(196,196,196,0));
  opacity: 1;
  position: absolute;
  top: 2752.12px;
  left: 300px;
  border: 1px solid rgba(0,0,0,0.25);
  transform: rotate(-89.93deg);
  overflow: hidden;
  box-sizing: border-box;
}
.v1_39 {
  width: 500px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3071px;
  left: 176px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v1_40 {
  width: 637px;
  height: 652px;
  background: rgba(229,229,229,0.5);
  opacity: 1;
  position: absolute;
  top: 3044px;
  left: 676px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_41 {
  width: 230px;
  height: 48px;
  background: rgba(234,89,44,1);
  opacity: 1;
  position: absolute;
  top: 3462px;
  left: 750px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_42 {
  width: 510px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3337px;
  left: 733px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_43 {
  width: 510px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3237px;
  left: 733px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_44 {
  width: 510px;
  height: 60px;
  background: rgba(234,89,44,1);
  opacity: 1;
  position: absolute;
  top: 3136px;
  left: 733px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_45 {
  width: 542px;
  height: 431px;
  color: rgba(1,1,1,1);
  position: absolute;
  top: 4031px;
  left: 720px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_46 {
  width: 230px;
  height: 48px;
  background: rgba(234,89,44,1);
  opacity: 1;
  position: absolute;
  top: 3462px;
  left: 1017px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_47 {
  width: 569px;
  height: 95px;
  color: black;
  position: absolute;
  top: 3843px;
  left: 720px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v1_48 {
  width: 291px;
  height: 15px;
  color: rgba(0,0,0,0.41999998688697815);
  position: absolute;
  top: 3422px;
  left: 918px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

 .cuadro {
position: absolute;
width: 60px;
height: 60px;
left: 564px;
top: 4331px;

background: #F3C243;
border: 1px solid #000000;
box-sizing: border-box;
}
.cuadro1 {
  position: absolute;
width: 60px;
height: 60px;
left: 642px;
top: 4331px;

background: #F3C243;
border: 1px solid #000000;
box-sizing: border-box;
}
.cuadro2 {
  position: absolute;
width: 60px;
height: 60px;
left: 720px;
top: 4331px;

background: #F3C243;
border: 1px solid #000000;
box-sizing: border-box;
}
.cuadro3 {
  position: absolute;
width: 60px;
height: 60px;
left: 798px;
top: 4331px;

background: #F3C243;
border: 1px solid #000000;
box-sizing: border-box;
}
.cuadro4 {
  position: absolute;
width: 60px;
height: 60px;
left: 876px;
top: 4331px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
}
.v1_54 {
  width: 440px;
  height: 398px;
  background: url("https://cdn.pressstart.com.au/wp-content/uploads/2020/07/Skater-XL-Review-770x433.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3840px;
  left: 206px;
  overflow: hidden;
}
.v1_55 {
  width: 100%;
  height: 338px;
  background: rgba(1,1,1,1);
  opacity: 1;
  position: absolute;
  top: 4529px;
  left: 0px;
}
.v1_56 {
  width: 569px;
  color: black;
  position: absolute;
  top: 4586px;
  left: 133px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v1_57 {
  width: 542px;
  height: 220px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4627px;
  left: 104px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_58 {
  width: 420px;
  height: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4547px;
  left: 103px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1_59 {
  width: 542px;
  color: rgba(1,1,1,1);
  position: absolute;
  top: 4031px;
  left: 720px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_60 {
  width: 569px;
  color: black;
  position: absolute;
  top: 3843px;
  left: 720px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v1_61 {
  width: 149px;
  height: 142px;
  background: url("https://cdna.artstation.com/p/jobs/images/000/008/368/thumb/400_x_400.jpg?1576300984");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4610px;
  left: 1221px;
  overflow: hidden;
}
