.main{
    width: 900px;
    height: 500px;
    background-color:rgba(233, 39, 33, 0.952);
    display: flex;
    flex-flow: row wrap;
}

.cuadro{
    width:200px;
    height:200px;
    background: rgb(20, 172, 199);
    margin: 10px;

    display:flex;
    align-items:center;
    justify-content: center;
}

.cuadro p{
    font-size: 100px;
    font-weight: bold;
    color:white;
}